<div class="about-me container">
<h1 class="about-me-title">About Me</h1>
    <div class="about-me-section">
    <div class="row">
        <div class="about-me-image col-5">
        <img src="/img/ryan-tan-profile-picture.jpg" class="image-profile-picture"  alt="Ryan Tan Linkedin Profile Picture" > 
        </div>
        <div class="about-me-description col-6">
        <h1>Ryan Tan</h1>
        <p><i class="fas fa-map-marker-alt"></i> Singapore</p>
        <hr>
        <p>Hai! I’m <b>Ryan Tan</b>. 
            I am currently in my third year studying a Diploma in Information Technology at <span class="font-italic">Nanyang Polytechnic</span>, and have just ended my 6-month internship with ELXR, a sports startup company based in Singapore.
            <br><br>
            I find myself obsessed with designing and developing websites, sitting down for hours on end, messing around with technologies that fascinates me to create interesting designs and features that I may implement in my own projects in the future, this portfolio website being one of them!
            </p>
        <div class="about-me-buttons">
            <div class="view-resume-button">
                <a href="/pdf/ryan-tan-resume.pdf" target="_blank">
                    <button type="button"  class="btn btn-success"><i class="fas fa-download"></i> View Resume</button>
                </a>
            </div>
            &nbsp; &nbsp;
            <div class="copy-email-address">
                <button type="button" onclick="myFunction()" class="btn btn-info"><i class="fas fa-clipboard"></i> Copy email</button>
            </div>
        </div>        
        </div>
    </div>
    <hr>
    <h1 class="skills-title">My Skills</h1>
    <div class="skills-section">
    <table>
        <tbody align="center">
            <tr>
                <td>
                    <a class="circle-skills-icon">
                        <span class="box-sizing-1">
                            <span class="box-sizing-2">
                                <img src="/img/skills_icon/html_icon.png" class="skills-profile-picture"  alt="Ryan Tan Linkedin Profile Picture"> 
                            </span>
                        </span>
                    </a>
                </td>
                <td>
                    <a class="circle-skills-icon">
                        <span class="box-sizing-1">
                            <span class="box-sizing-2">
                                <img src="/img/skills_icon/css_icon.png" class="skills-profile-picture"  alt="Ryan Tan Linkedin Profile Picture"> 
                            </span>
                        </span>
                    </a>
                </td>
                <td>
                    <a class="circle-skills-icon">
                        <span class="box-sizing-1">
                            <span class="box-sizing-2">
                                <img src="/img/skills_icon/javascript-icon.png" class="skills-profile-picture"  alt="Ryan Tan Linkedin Profile Picture"> 
                            </span>
                        </span>
                    </a> 
                </td>
                <td>
                    <a class="circle-skills-icon">
                        <span class="box-sizing-1">
                            <span class="box-sizing-2">
                                <img src="/img/skills_icon/boostrap-logo.png" class="skills-profile-picture"  alt="Ryan Tan Linkedin Profile Picture"> 
                            </span>
                        </span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="circle-skills-icon">
                        <span class="box-sizing-1">
                            <span class="box-sizing-2">
                                <img src="/img/skills_icon/nodejs-logo.png" class="skills-profile-picture"  alt="Ryan Tan Linkedin Profile Picture"> 
                            </span>
                        </span>
                    </a>
                </td>
                <td>
                    <a class="circle-skills-icon">
                        <span class="box-sizing-1">
                            <span class="box-sizing-2">
                                <img src="/img/skills_icon/vuejs-logo.png" class="skills-profile-picture"  alt="Ryan Tan Linkedin Profile Picture"> 
                            </span>
                        </span>
                    </a> 
                </td>
                <td>
                    <a class="circle-skills-icon">
                        <span class="box-sizing-1">
                            <span class="box-sizing-2">
                                <img src="/img/skills_icon/angularjs-logo.png" class="skills-profile-picture"  alt="Ryan Tan Linkedin Profile Picture"> 
                            </span>
                        </span>
                    </a> 
                </td>
                <td>
                    <a class="circle-skills-icon">
                        <span class="box-sizing-1">
                            <span class="box-sizing-2">
                                <img src="/img/skills_icon/flutter-icon.png" class="skills-profile-picture"  alt="Ryan Tan Linkedin Profile Picture"> 
                            </span>
                        </span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="circle-skills-icon">
                        <span class="box-sizing-1">
                            <span class="box-sizing-2">
                                <img src="/img/skills_icon/python-logo.png" class="skills-profile-picture"  alt="Ryan Tan Linkedin Profile Picture"> 
                            </span>
                        </span>
                    </a> 
                </td>
                <td>
                    <a class="circle-skills-icon">
                        <span class="box-sizing-1">
                            <span class="box-sizing-2">
                                <img src="/img/skills_icon/sql-logo.png" class="skills-profile-picture"  alt="Ryan Tan Linkedin Profile Picture"> 
                            </span>
                        </span>
                    </a>
                </td>
                <td>
                    <a class="circle-skills-icon">
                        <span class="box-sizing-1">
                            <span class="box-sizing-2">
                                <img src="/img/skills_icon/aws-logo.png" class="skills-profile-picture"  alt="Ryan Tan Linkedin Profile Picture"> 
                            </span>
                        </span>
                    </a>
                </td>
                <td>
                    <a class="circle-skills-icon">
                        <span class="box-sizing-1">
                            <span class="box-sizing-2">
                                <img src="/img/skills_icon/docker-logo.png" class="skills-profile-picture"  alt="Ryan Tan Linkedin Profile Picture"> 
                            </span>
                        </span>
                    </a>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
<hr class="portfolio__separator_white my-5 w-40 m-auto">
<div class="education-hobbies-container">
  <div class="education-section">
    <h1 class="education-title">Education</h1>
<p class="change-hidden-text">*Tap in each images to find our more!</p>
                <div class="education-container">
            <div class="content">
                <div class="content-overlay"></div>
                <img class="content-image" src="/img/education_images/Jurongville-school.jpeg">
                <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Jurongville Secondary School</h3>
                    <p class="content-text">GCE Ordinary Level <br>
2015 - 2018</p>
                </div>
            
            </div>
            </div>

            <div class="education-container">
            <div class="content">
                <div class="content-overlay"></div>
                <img class="content-image" src="/img/education_images/nanyang-polytechnic.jpeg">
                <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Nanyang Polytechnic</h3>
                    <p class="content-text">Diploma in Information Technology <br>
2019 - 2022</p>
                </div>
            </div>
            </div>
  </div>
  <div class="hobbies-section">
    <h1 class="hobbies-title">Hobbies</h1>
    <p class="change-hidden-text">*Tap in each images to find our more!</p>
    <div class="hobbies-images">
        
        <div class="row1 col-12">
            <div class="hobbies-container">
            <div class="content">
                <div class="content-overlay"></div>
                <img class="content-image" src="/img/hobbies_images/gaming-image.jpg">
                <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Gaming</h3>
                    <p class="content-text">I like to explore to amazing fictional worlds, <br>with my favourite games being <i>Persona 4 Golden</i> and <i>Minecraft.</i></p>
                </div>
            </div>
            </div>
        </div>
        <div class="row2 col-12">
            <div class="hobbies-container">
            <div class="content">
                <div class="content-overlay"></div>
                <img class="content-image" src="/img/hobbies_images/reading-image.jpg">
                <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Reading</h3>
                    <p class="content-text">I like to indulge myself in stories created by amazing authors, <br> with my favourites books being <i>Harry Potter</i> and <i>The Hunger Games</i></p>
                </div>
            </div>
            </div>
            <div class="hobbies-container">
            <div class="content">
                <div class="content-overlay"></div>
                <img class="content-image" src="/img/hobbies_images/travelling-image.jpg">
                <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Travelling</h3>
                    <p class="content-text">I like to explore and capture memories of the real world, <br> with my favourite places being <i>Taiwan</i> and <i>Tokyo</i></p>
                </div>
            </div>
            </div>
        </div>

    </div>
  </div>
  
</div>
</div>
</div>

