<div class="about-me container">
<h1 class="about-me-title">About Me</h1>
    <div class="about-me-section">
    <div class="row">
        <div class="about-me-image col-5">
        <img src="/img/ryan-tan-profile-picture.jpg" class="image-profile-picture"  alt="Ryan Tan Linkedin Profile Picture" > 
        </div>
        <div class="about-me-description col-6">
        <h1>Ryan Tan</h1>
        <p><i class="fas fa-map-marker-alt"></i> Singapore</p>
        <hr>
        <p>Hai! I’m <b>Ryan Tan</b>. 
            I am currently in my third year studying a Diploma in Information Technology at <span class="font-italic">Nanyang Polytechnic</span>, and have just ended my 6-month internship with ELXR, a sports startup company based in Singapore.
            <br><br>
            I find myself obsessed with designing and developing websites, sitting down for hours on end, messing around with technologies that fascinates me to create interesting designs and features that I may implement in my own projects in the future, this portfolio website being one of them!
            </p>
        <div class="about-me-buttons">
            <div class="view-resume-button">
                <a href="/pdf/ryan-tan-resume.pdf" target="_blank">
                    <button type="button"  class="btn btn-success"><i class="fas fa-download"></i> View Resume</button>
                </a>
            </div>
            &nbsp; &nbsp;
            <div class="copy-email-address">
                <button type="button" class="btn btn-info"><i class="fas fa-clipboard"></i> Copy email</button>
            </div>
        </div>
        </div>
    </div>
</div>
</div>

