
<!--SECOND BOX ABOUT BAKEIN AI APPLICATION-->

<div id="myModal_second_box" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close2">&times;</span>
    <h1 class="modal-title">BAKEin AI Application</h1>
    <p class="modal-time"><i class="fas fa-clock"></i> Developed in May 2021 - August 2021</p>
    <p class="modal-time"><i class="fas fa-book"></i> MODULE GRADE: B+</p>
<div class="ss-container">
                <div class="mySlides2 fade">
                    <img src="/img/works_images/bakein_AI/home_page.jpg" class="pics"/>
                </div>
                <div class="mySlides2 fade">
                    <img src="/img/works_images/bakein_AI/AI-based_recommendation_system.jpg" class="pics"/>
                </div>
                <div class="mySlides2 fade">
                    <img src="/img/works_images/bakein_AI/AI-based_recommendation_system (2).jpg" class="pics"/>
                </div>
                <div class="mySlides2 fade">
                    <img src="/img/works_images/bakein_AI/AI-based_recommendation_system.jpg" class="pics"/>
                </div>
                <a class="prev" onclick="plusSlides2(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides2(1)">&#10095;</a>
            </div>
            
            <!--    Putting in the click dots   -->
            <div style="text-align:center">
                <span class="dot2" onclick="currentSlide2(1)"></span>
                <span class="dot2" onclick="currentSlide2(2)"></span>
                <span class="dot2" onclick="currentSlide2(3)"></span>
                <span class="dot2" onclick="currentSlide2(4)"></span>
            </div>

    <p class="modal-comment">
        As part of my third-year specialization project in Artificial Intelligence (AI), my team and I were tasked to create our own AI models. <br><br>
        I decided to create my own AI-based recommendation system based on user's location for our proposed idea of a bakery website.<br><br>
        With the additional usage of Docker and Microsoft Cloud Azure, I am also able to deploy my own AI model for usage.<br><br>
        From this AI project, I have taken full interest in AI, and understood on the steps required to create my own AI model. <br>
         I hope I can work on more AI projects in the future!<br><br>
        </p>

</div>

</div>