
<!--FOURTH BOX ABOUT BAKEIN AI APPLICATION-->

<div id="myModal_fourth_box" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close4">&times;</span>
    <h1 class="modal-title">TEENFUN Application</h1>
    <p class="modal-time"><i class="fas fa-clock"></i> Developed in October 2020 - February 2021</p>
    <p class="modal-time"><i class="fas fa-book"></i> MODULE GRADE: B</p>
<div class="ss-container">
                <div class="mySlides4 fade">
                    <img src="/img/works_images/teenfun/login_page.png" class="pics"/>
                </div>
                <div class="mySlides4 fade">
                    <img src="/img/works_images/teenfun/registration_page.png" class="pics"/>
                </div>
                <div class="mySlides4 fade">
                    <img src="/img/works_images/teenfun/account_information_page.png" class="pics"/>
                </div>
                <div class="mySlides4 fade">
                    <img src="/img/works_images/teenfun/update_account_information_staff.png" class="pics"/>
                </div>
                <div class="mySlides4 fade">
                    <img src="/img/works_images/teenfun/change_password_page.png" class="pics"/>
                </div>
                 <div class="mySlides4 fade">
                    <img src="/img/works_images/teenfun/users_list.png" class="pics"/>
                </div>
                <div class="mySlides4 fade">
                    <img src="/img/works_images/teenfun/forget_password_page.png" class="pics"/>
                </div>
                <div class="mySlides4 fade">
                    <img src="/img/works_images/teenfun/add_promotions.png" class="pics"/>
                </div>
                <div class="mySlides4 fade">
                    <img src="/img/works_images/teenfun/view_promotions_staff.png" class="pics"/>
                </div>
                <a class="prev" onclick="plusSlides4(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides4(1)">&#10095;</a>
            </div>
            
            <!--    Putting in the click dots   -->
            <div style="text-align:center">
                <span class="dot4" onclick="currentSlide4(1)"></span>
                <span class="dot4" onclick="currentSlide4(2)"></span>
                <span class="dot4" onclick="currentSlide4(3)"></span>
                <span class="dot4" onclick="currentSlide4(4)"></span>
                <span class="dot4" onclick="currentSlide4(5)"></span>
                <span class="dot4" onclick="currentSlide4(6)"></span>
                <span class="dot4" onclick="currentSlide4(7)"></span>
                <span class="dot4" onclick="currentSlide4(8)"></span>
                <span class="dot4" onclick="currentSlide4(9)"></span>

            </div>

    <p class="modal-comment">
        As part of a second-year project to develop our own ASP.NET C# Application, our team has planned to develop a travel application for users to book tickets to our Singapore local attractions. <br>
        And being appointed as the leader again for this project, I got the opportunite to manage and encourage my team members to do the best that they can do. <br><br>
        I too has a part to play in the development work, as I'm in charge on creating the Account Management features (like Registration,Login,Viewing Account Information,etc.) and Promotions features. <br><br>
        Overall, I have developed my ASP.NET C# skills and improve on my leadership skills from this project, and I hope I can apply those skills into my future work!
        </p>
        
        

</div>

</div>