
<!--FOURTH BOX ABOUT BAKEIN AI APPLICATION-->

<div id="myModal_fourth_box" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close4">&times;</span>
    <h1 class="modal-title">TEENFUN Application</h1>
    <p class="modal-time"><i class="fas fa-clock"></i> Developed in October 2020 - February 2021</p>
    <p class="modal-time"><i class="fas fa-book"></i> MODULE GRADE: B</p>
<div class="ss-container">
                <div class="mySlides4 fade">
                    <img src="/img/works_images/teenfun/login_page.png" class="pics"/>
                </div>
                <div class="mySlides4 fade">
                    <img src="/img/works_images/bakein_AI/AI-based_recommendation_system.jpg" class="pics"/>
                </div>
                <div class="mySlides4 fade">
                    <img src="/img/works_images/bakein_AI/AI-based_recommendation_system (2).jpg" class="pics"/>
                </div>
                <div class="mySlides4 fade">
                    <img src="/img/works_images/bakein_AI/AI-based_recommendation_system.jpg" class="pics"/>
                </div>
                <a class="prev" onclick="plusSlides4(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides4(1)">&#10095;</a>
            </div>
            
            <!--    Putting in the click dots   -->
            <div style="text-align:center">
                <span class="dot4" onclick="currentSlide4(1)"></span>
                <span class="dot4" onclick="currentSlide4(2)"></span>
                <span class="dot4" onclick="currentSlide4(3)"></span>
                <span class="dot4" onclick="currentSlide4(4)"></span>
            </div>

    <p class="modal-comment">
        I was attached to a Singapore startup company called ELXR as part of my 6-month internship back in September 2021. <br>
        Throughout my internship, my tasks as a Developer Intern were to create new features to their company's applications.
        </p>
        <div class="modal-bulleted-points">
        • ELXR mobile app <br>
        • ELXR website (www.the-elxr.com) <br>
        • ELXR dashboard (dashboard.the-elxr.com) <br>
        • ELXR backend <br><br>
        </div>
        <p class="modal-comment">
                As such, I have implemented tons of new features for their applications to enhance users' experience with ELXR.<br>
                <br>
                An instance is creating new frontend pages for their virtual running event on their ELXR website, which still can be found <a href="https://the-elxr.com/centralsports" target="_blank">here</a>! <br> <br>
                Besides technical skills that I have obtained from development work, I got the chance to be exposed to work culture skills, like discussing with my colleagues, while developing and improving my core skills like teamwork and prompt communication<br><br>
                Overall, from this internship, I have learnt and acquired lots of skills, including the full understanding on the importance of frontend development and backend development, and how they support each other.   
        </p>
        

</div>

</div>