
<!--THIRD BOX ABOUT SOUND STORE -->

<div id="myModal_third_box" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close3">&times;</span>
    <h1 class="modal-title">Sound Store Application</h1>
    <p class="modal-time"><i class="fas fa-clock"></i> Developed in April 2020 - August 2020</p>
    <p class="modal-time"><i class="fas fa-book"></i> MODULE GRADE: B</p>
<div class="ss-container">
                <div class="mySlides3 fade">
                    <img src="/img/works_images/sound_store_nodejs/login_page.jpg" class="pics"/>
                </div>
                <div class="mySlides3 fade">
                    <img src="/img/works_images/sound_store_nodejs/google_login_page.jpg" class="pics"/>
                </div>
                <div class="mySlides3 fade">
                    <img src="/img/works_images/sound_store_nodejs/registration_page.png" class="pics"/>
                </div>
                <div class="mySlides3 fade">
                    <img src="/img/works_images/sound_store_nodejs/account_information_page.png" class="pics"/>
                </div>
                <div class="mySlides3 fade">
                    <img src="/img/works_images/sound_store_nodejs/edit_account_information_page.png" class="pics"/>
                </div>
                <div class="mySlides3 fade">
                    <img src="/img/works_images/sound_store_nodejs/users_list.png" class="pics"/>
                </div>
                <div class="mySlides3 fade">
                    <img src="/img/works_images/sound_store_nodejs/forget_password_page.jpg" class="pics"/>
                </div>
                <div class="mySlides3 fade">
                    <img src="/img/works_images/sound_store_nodejs/security_question_page.jpg" class="pics"/>
                </div>
                <div class="mySlides3 fade">
                    <img src="/img/works_images/sound_store_nodejs/reset_password_page.jpg" class="pics"/>
                </div>
                <a class="prev" onclick="plusSlides3(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides3(1)">&#10095;</a>
            </div>
            
            <!--    Putting in the click dots   -->
            <div style="text-align:center">
                <span class="dot3" onclick="currentSlide3(1)"></span>
                <span class="dot3" onclick="currentSlide3(2)"></span>
                <span class="dot3" onclick="currentSlide3(3)"></span>
                <span class="dot3" onclick="currentSlide3(4)"></span>
                <span class="dot3" onclick="currentSlide3(5)"></span>
                <span class="dot3" onclick="currentSlide3(6)"></span>
                <span class="dot3" onclick="currentSlide3(7)"></span>
                <span class="dot3" onclick="currentSlide3(8)"></span>
                <span class="dot3" onclick="currentSlide3(9)"></span>
            </div>

    <p class="modal-comment">
        As part of a second-year project to develop our own NodeJS Application, our team has planned to reuse the theme that we did back in first-year of creating our own Sound Store application, allowing users to purchase audio appliances. <br>
        Additionally, I also took up the opportunity to be the leader for this project, where I got to interact with my teammates, discuss on our progress often, and motivate each other to get it done and good. <br><br>
        For my part on the development work, I got to work on Account Management features, such as registration of account, login, viewing and updating account information, and even a feature of forget password! <br>
        I also got the chance to send my first email through the application! <br><br>
        Overall, I have developed my NodeJS skills, ExpressJS skills and leadership skills from this project! With those skills in hand, I'm able to develop my own front-end application like this website!
        </p>
        
        

</div>

</div>