
<!--FIRST BOX ABOUT ELXR APPLICATIONS-->

<div id="myModal_first_box" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1 class="modal-title">ELXR Applications</h1>
    <p class="modal-time"><i class="fas fa-clock"></i> Developed in September 2021 - February 2022</p>
    <p class="modal-time"><i class="fas fa-book"></i> MODULE GRADE: A</p>
<div class="ss-container">
                <div class="mySlides fade">
                    <img src="/img/works_images/elxr/centralsports_frontend/ELXR-CentralSports-Landing-1stPart.jpg" class="pics"/>
                </div>
                <div class="mySlides fade">
                    <img src="/img/works_images/elxr/centralsports_frontend/ELXR-CentralSports-Pay.png" class="pics"/>
                </div>
                <div class="mySlides fade">
                    <img src="/img/works_images/elxr/centralsports_frontend/ELXR-CentralSports-Terms-Conditions.png" class="pics"/>
                </div>
                <div class="mySlides fade">
                    <img src="/img/works_images/elxr/mobile/ELXR-mobile-home-page.png" class="pics"/>
                </div>
                <div class="mySlides fade">
                    <img src="/img/works_images/elxr/mobile/ELXR-mobile-shop-page.jpg" class="pics"/>
                </div>
                <div class="mySlides fade">
                    <img src="/img/works_images/elxr/mobile/ELXR-mobile-rewards.png" class="pics"/>
                </div>
                <div class="mySlides fade">
                    <img src="/img/works_images/elxr/mobile/ELXR-mobile-delete-account.png" class="pics"/>
                </div>
                <div class="mySlides fade">
                    <img src="/img/works_images/elxr/dashboard/ELXR-Dashboard-Import Events.png" class="pics"/>
                </div>
                <div class="mySlides fade">
                    <img src="/img/works_images/elxr/dashboard/ELXR-Dashboard-VOD.png" class="pics"/>
                </div>
                <div class="mySlides fade">
                    <img src="/img/works_images/elxr/dashboard/ELXR-Dashboard-Create-VOD.jpg" class="pics"/>
                </div>
                <div class="mySlides fade">
                    <img src="/img/works_images/elxr/dashboard/ELXR-Dashboard-VOD-Analytics.png" class="pics"/>
                </div>
                <div class="mySlides fade">
                    <img src="/img/works_images/elxr/elxr-logo.png" class="pics"/>
                </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            
            <!--    Putting in the click dots   -->
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
                <span class="dot" onclick="currentSlide(5)"></span>
                <span class="dot" onclick="currentSlide(6)"></span>
                <span class="dot" onclick="currentSlide(7)"></span>
                <span class="dot" onclick="currentSlide(8)"></span>
                <span class="dot" onclick="currentSlide(9)"></span>
                <span class="dot" onclick="currentSlide(10)"></span>
                <span class="dot" onclick="currentSlide(11)"></span>
                <span class="dot" onclick="currentSlide(12)"></span>
            </div>

    <p class="modal-comment">
        I was attached to a Singapore startup company called ELXR as part of my 6-month internship back in September 2021. <br>
        Throughout my internship, my tasks as a Developer Intern were to create new features to their company's applications.
        </p>
        <div class="modal-bulleted-points">
        • ELXR mobile app <br>
        • ELXR website (www.the-elxr.com) <br>
        • ELXR dashboard (dashboard.the-elxr.com) <br>
        • ELXR backend <br><br>
        </div>
        <p class="modal-comment">
                As such, I have implemented tons of new features for their applications to enhance users' experience with ELXR.<br>
                <br>
                An instance is creating new frontend pages for their virtual running event on their ELXR website, which still can be found <a href="https://the-elxr.com/centralsports" target="_blank">here</a>! <br> <br>
                Besides technical skills that I have obtained from development work, I got the chance to be exposed to work culture skills, like discussing with my colleagues, while developing and improving my core skills like teamwork and prompt communication<br><br>
                Overall, from this internship, I have learnt and acquired lots of skills, including the full understanding on the importance of frontend development and backend development, and how they support each other.   
        </p>
        

</div>

</div>