<div class="text-index-hi">
	<div class="container">
		<h1 class="display-1">{{title}}</h1>
		<a href="/about" class="learn-about-me">
			<button class="button"><span>Learn about me! </span></button>
			</p>
		</a>
	</div>
	<br>
</div>
