<div class="text-index-hi">
	<div class="container">
		<h1 class="display-1">{{title}}</h1>
		<a href="/about" class="learn-about-me">
			<p class="display-4">Learn more about me ></p>
		</a>
	</div>
	<br>
</div>
