<div class="works-container">
<h1 class="my-works-title">My Works</h1>
<div class="works-border">

<div class="containers">
<div class="float-container">

  <div class="first-box">
      <div class="works-box-text-align-center" style="text-align: center;">
            <h2 style="text-align: center;padding:10px">Internship Applications</h2>
    <p>Developed with VueJS</p>
      </div>
      
  </div>

  <div class="second-box">
      <div class="works-box-text-align-center" style="text-align: center;">
            <h2 style="text-align: center;padding:10px">AI-based shopping application</h2>
    <p>Developed with Python, ExpressJS</p>
      </div>
      
  </div>

</div>

<div class="float-container">

  <div class="third-box">
      <div class="works-box-text-align-center" style="text-align: center;">
            <h2 style="text-align: center;padding:10px">Sound Store Application V2</h2>
    <p>Developed in 2020 with NodeJS and ExpressJS</p>
      </div>
      
  </div>

  <div class="fourth-box">
      <div class="works-box-text-align-center" style="text-align: center;">
            <h2 style="text-align: center;padding:10px">TeenFun Application</h2>
    <p>Developed Travel Application in 2020 with ASP.NET C#</p>
      </div>

  </div>
  
</div>
</div>



</div>

</div>
